:root {
  --bs-body-bg: #303841;
  --bs-card-bg: #262e35;
  --body-text-color: #a6b0cf;
  --bs-gray-100: #212529;
  --bs-gray-200: #272c3b;
  --bs-gray-300: #36404a;
  --bs-gray-400: #a6b0cf;
  --bs-gray-500: #9aa1b9;
  --bs-gray-600: #abb4d2;
  --bs-gray-700: #e1e9f1;
  --bs-gray-800: #eff2f7;
  --bs-gray-900: #f8f9fa;
  --bs-primary-rgb: 114, 105, 239;
  --bs-sidebar-bg: #36404a;
  --bs-sidebar-menu-item-active-color: #7269ef;
  --bs-sidebar-menu-item-active-bg: #3e4a56;
  --bs-sidebar-sub-bg: #303841;
  --bs-border-color: #36404a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body-bg {
  background-color: var(--bs-body-bg);
}
.card-bg {
  background-color: var(--bs-card-bg) !important;
  color: var(--body-text-color) !important;
}
.auth_card {
  min-width: 550px;
  padding: 30px;
}
.gray-700 {
  color: var(--bs-gray-700);
}
.btn-primary {
  background-color: var(--bs-sidebar-menu-item-active-color) !important;
  border-color: var(--bs-sidebar-menu-item-active-color) !important;
  color: #fff !important;
}
.auth-page {
  min-height: 90.7vh;
  color: var(--body-text-color) !important;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.d-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.auth_header {
  text-align: center;
}
.auth_body {
  margin-top: 15px;
}

.login-brand {
  width: 35px;
  margin-bottom: 15px;
  margin-right: 5px;
}
.navbar_brand {
  width: 35px;
  margin-right: 5px;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--body-text-color) !important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--body-text-color) !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: var(--body-text-color) !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: var(--body-text-color) !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

.auth_link {
  --bs-text-opacity: 1;
  text-decoration: none;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

@media (max-width: 580px) {
  .auth_card {
    min-width: 400px;
    padding: 25px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--bs-body-bg);
}

nav a {
  color: var(--bs-gray-900);
  text-decoration: none;
}
nav div a {
  margin-right: 20px;
}

/* Home */
.home_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;
}
.users_container {
  padding-top: 10px;
  border-right: 2px solid var(--bs-gray-100);
  overflow-y: auto;
  background-color: var(--bs-sidebar-sub-bg);
  color: white;
}
.user_wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_detail {
  display: flex;
  align-items: center;
}
.user_detail h4 {
  margin-left: 10px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
}
.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: #34eb52;
}
.offline {
  background: #eb4034;
}
.messages_container {
  position: relative;
  width: 100%;
  background: var(--bs-card-bg);
  color: white;
}
.messages_user {
  padding: 10px;
  text-align: center;
}
.no_conv {
  font-size: 20px;
  color: var(--bs-gray-300);
  text-align: center;
}
.message_form {
  position: absolute;
  bottom: 10px;
  left: 20%;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.message_form input {
  width: 40vw;
  margin: 0px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form .btn {
  margin-top: -10px;
}

/* Loader */

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-body-bg);
  min-height: 100vh;
}
.three-body {
  --uib-size: 100px;
  --uib-speed: 0.6s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.border-bottom {
  border-bottom: 1px solid #f0eff5 !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
}
